---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>

<h2>Proposed pages</h2>
One of these for each of Angular, React, Vue.js:  
<ul>
<li>upload widget</li>
<li>product gallery widget</li>
<li>media library widget</li>
<li>video player</li>
<li>helpers: url, image, video</li>

</ul>
